USE [master]
GO
/****** Object:  Database [StarPhoneWebsite]    Script Date: 9/30/2023 11:24:22 PM ******/
CREATE DATABASE [StarPhoneWebsite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StarPhoneWebsite', FILENAME = N'D:\DATABASE\MSSQL16.MSSQLSERVER\MSSQL\DATA\StarPhoneWebsite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StarPhoneWebsite_log', FILENAME = N'D:\DATABASE\MSSQL16.MSSQLSERVER\MSSQL\DATA\StarPhoneWebsite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StarPhoneWebsite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StarPhoneWebsite]
GO
/****** Object:  User [vien]    Script Date: 9/30/2023 11:24:24 PM ******/
CREATE USER [vien] FOR LOGIN [vien] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [vien]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [vien]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [vien]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [vien]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [vien]
GO
ALTER ROLE [db_datareader] ADD MEMBER [vien]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [vien]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [vien]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [vien]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 9/30/2023 11:24:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoaiSP] [nvarchar](10) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSX]    Script Date: 9/30/2023 11:24:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSX](
	[MaNSX] [nvarchar](10) NOT NULL,
	[TenNSX] [nvarchar](50) NULL,
 CONSTRAINT [PK_NSX] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San Pham]    Script Date: 9/30/2023 11:24:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San Pham](
	[MaSP] [nvarchar](10) NOT NULL,
	[MaLoaiSP] [nvarchar](10) NULL,
	[MaNSX] [nvarchar](10) NULL,
	[TenSP] [nvarchar](max) NULL,
	[CauHinh] [nvarchar](max) NULL,
	[HinhChinh] [nvarchar](50) NULL,
	[Hinh1] [nvarchar](50) NULL,
	[Hinh2] [nvarchar](50) NULL,
	[Hinh3] [nvarchar](50) NULL,
	[Hinh4] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[SLDaBan] [int] NULL,
	[LuotView] [int] NULL,
	[TinhTrang] [nchar](10) NULL,
 CONSTRAINT [PK_San Pham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'', N'')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'LSP01', N'Cao Cap')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'LSP02', N'Trung Cap')
GO
INSERT [dbo].[NSX] ([MaNSX], [TenNSX]) VALUES (N'NSX01', N'APPLE')
INSERT [dbo].[NSX] ([MaNSX], [TenNSX]) VALUES (N'NSX02', N'SAMSUNG')
INSERT [dbo].[NSX] ([MaNSX], [TenNSX]) VALUES (N'NSX03', N'OPPO')
GO
INSERT [dbo].[San Pham] ([MaSP], [MaLoaiSP], [MaNSX], [TenSP], [CauHinh], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [SLDaBan], [LuotView], [TinhTrang]) VALUES (N'SP01', N'LSP01', N'NSX02', N'SAMSUNG GALAXI S23 Ultra', N'Chua Xac Dinh', N'samsungs23.png', NULL, NULL, NULL, NULL, 31990000, 0, 0, N'0         ')
INSERT [dbo].[San Pham] ([MaSP], [MaLoaiSP], [MaNSX], [TenSP], [CauHinh], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [SLDaBan], [LuotView], [TinhTrang]) VALUES (N'SP02', N'LSP02', N'NSX04', N'VIVO Y22s', N'Chua Xac Dinh', N'vivoy22s.png', NULL, NULL, NULL, NULL, 5990000, 0, 0, N'0         ')
INSERT [dbo].[San Pham] ([MaSP], [MaLoaiSP], [MaNSX], [TenSP], [CauHinh], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [SLDaBan], [LuotView], [TinhTrang]) VALUES (N'SP03', N'LSP01', N'NSX01', N'IPHONE 11', N'Chua Xac Dinh', N'iphone11.png', NULL, NULL, NULL, NULL, 11990000, 0, 0, N'0         ')
GO
ALTER TABLE [dbo].[San Pham] ADD  CONSTRAINT [DF_San Pham_Gia]  DEFAULT ((0)) FOR [Gia]
GO
ALTER TABLE [dbo].[San Pham] ADD  CONSTRAINT [DF_San Pham_SLDaBan]  DEFAULT ((0)) FOR [SLDaBan]
GO
ALTER TABLE [dbo].[San Pham] ADD  CONSTRAINT [DF_San Pham_LuotView]  DEFAULT ((0)) FOR [LuotView]
GO
ALTER TABLE [dbo].[San Pham] ADD  CONSTRAINT [DF_San Pham_TinhTrang]  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[San Pham]  WITH CHECK ADD  CONSTRAINT [FK_San Pham_LoaiSP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[San Pham] CHECK CONSTRAINT [FK_San Pham_LoaiSP]
GO
ALTER TABLE [dbo].[San Pham]  WITH CHECK ADD  CONSTRAINT [FK_San Pham_NSX] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NSX] ([MaNSX])
GO
ALTER TABLE [dbo].[San Pham] CHECK CONSTRAINT [FK_San Pham_NSX]
GO
USE [master]
GO
